*{
	margin:0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-overflow: hidden;
}

body {
	height: 100%;
}

.Line {
	width: 90px;
	height: 5px;
	background-color: #6EA4CA;
	margin-left: 48%;
	margin-bottom: 70px;
}

.App {
  text-align: center;
}

/*Header*/
.Header {
	position: fixed;
	background-color: #0C3C60;
	height: 90px;
	width: 100%;
	z-index: 1000;
}

.to {
	text-decoration: none;
	color: white;
}

.to:hover {
	color: #A4A6D4;
	transition: 0.1s;
}

.title {
	font-size: 22px;
	letter-spacing: 0.06em;
	display: inline-block;
	margin-right: 5px;
	margin-top: 36px;
	float: left;
	margin-left: 450px;
}
.title:hover{
cursor: pointer;
}

.James {
	color: white;
	margin-right: 5px;
}

.Consulting {
	color: #6CB5C8;
}

.Unordered{
	list-style-type: none;
	color: white;
	margin-top: 22px;
	font-size: 13px;
}

.Unordered li {
	display: inline-block;
	padding: 20px;
}

.Unordered a {
	text-decoration: none;
	color: white;
}

.Unordered a:hover{
	color: #A4A6D4;
	transition: 0.1s;
}


/*Main/home*/
main {
	padding-top: 90px;
}

.ParWrapper {
	height: 690px;
	width: 100%;
	background-color: black;
	position: relative;
}

.Par {
	background-image: url("./Assets/homebg.png");
	height:690px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.BotPar {
	height: 140px;
	width: 100%;
	background-color: white;
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.6;
}

.Dev {
	z-index: 100;
	padding-top: 20px;
	font-size:20px;
	color: #0C3C60;
	position: relative;
	bottom: 6.7em;
}

.Ach {
	z-index: 100;
	padding-top: 20px;
	font-size:3.5rem;
	color: #0C3C60;
	position: relative;
	bottom: 2.3em;
	letter-spacing: 0.3rem;
}

/*Home/Services/proj/clie*/

.ColWrap {
	height: 490px;
	width: 100%;
	background-color: #FAFAFA;
	display: flex;
	justify-content: center;
}

.Block {
	height: 345px;
	width: 305px;
	background-color: #0C3C60;
	margin: 70px 40px 0 40px;
}

.Serv {
	color: #D1E0EB;
	padding-top: 35px;
	letter-spacing: 0.07rem;
}

.ImAPar {
	padding: 25px 25px 0 25px;
	color: white;
	letter-spacing: 0.02rem;
}

.MoreInfo {
	background-color: #6EA4CA;
	padding: 15px 35px 15px 35px;
	text-decoration: none;
	color: white;
	position: relative;
	top: 40px;
}

.MoreInfo:hover {
	transition: .2s;
	color: #20577D;
}

/*Home/About us*/
.AboutUsWrap {
	height: 560px;
	width: 100%;
	background-color: #D1E0EB;
}

.AboutUsWrap h6 {
	letter-spacing: 0.04rem;
	font-size: 3.5rem;
	padding: 80px 0  70px 0;
	color: #0C3C60;
}

.AboutUsWrap p {
	padding: 0 600px 0 600px;
	color: #0C3C60;
	letter-spacing: 0.02rem;
	font-size: 1.14rem;
}

.APar2 {
	margin-top: 15px;
}

.AboutUsWrap a{
	text-decoration:none;
	color: white;
	position: relative;
	top: 50px;
	padding: 10px 30px 10px 30px;
	background-color: #0C3C60;
}

.AboutUsWrap a:hover {
	transition: 0.5s;
	background-color: #5A599A;
}
/*Home/ContactUs*/

.contactUsWrap {
	width: 100%;
	height: 940px;
	background-color: #0C3C60;
	position: relative;
}

.contactUsWrap iframe{
	position: absolute;
	bottom: 24.7%;
	left: 25.3%;
}

.contactUsWrap h3{
	font-size: 4rem;
	color: white;
	letter-spacing: 0.04rem;
	padding-top: 5rem;
}

.contactUsWrap p{
	color: white;
	display: block;
	position: relative;
	left: 60%;
	top: 10%;
	width: 200px;
}

.A {
	position: relative;
	color:white;
	top: 5.9rem;
	left: 18.3rem;
}

.FormWrap {
	width: 100px;
	display: block;
	position: absolute;
	left: 57%;
	bottom: 27%;
}

.contactUsWrap input{
	height: 30px;
	width: 340px;
	margin: 0px 0 20px 0;
}

.contactUsWrap textarea {
	height: 130px;
	width: 340px;
}

.FormBut {
	color: white;
	padding: 10px 50px 10px 50px;
	background-color: #6EA4CA;
	border: none;
	position: relative;
	left: 12rem;
	top: 10px;
}

.FormBut:hover {
	cursor: pointer;
	transition: 0.2s;
	color: #0C3C60;
}

/*About Page*/

.AboutWrap {
	padding-top: 90px;
	color: black;
	font-size: 20px;
}

.AboutWrap h1 {
	padding-top: 70px;
	color: #6EA4CA;
	font-size: 65px;
	letter-spacing: 0.4rem;
}

.AboutParaDown {
	color: yellow;
	width: 685px;
	height: 70px;
	margin-left: 32%;
	color: #6EA4CA;
	font-size: 20px;
	margin-bottom: 100px;
}

.AboutBg {
	background-color: #0C3C60;
	height: 120px;
	width: 430px;
}

.AboutBg img {
	float: left;
}

.AboutBg span {
	color: #9B9696;
}

.AboutName {
	padding-top: 7%;
	color: white;
}

.Aboutpg {
	width: 410px;
	font-size: 16px;
	color: #0C3C60;
	margin: 45px 0 75px 0;
}

.WrapperForPeople {
display: flex;
margin-bottom: 80px;
}

.A {
	margin-right: 20%;
	margin-left: 10%;
	position: relative;
	top: 15%;
}


/*Services Page*/

.ServicesWrap {
	padding-top: 90px;
}

/*Service Book Page*/

/*Projects Page*/
.ProjPageWrap {
	padding-top:90px;
}

.ProjPageWrap h1 {
	padding-top: 70px;
	color: #6EA4CA;
	font-size: 60px;
	letter-spacing: 0.4rem;
}

.ProWrap {
	width: 860px;
	margin-left: 27%;
	padding-bottom: 200px;
}

.ProWrap p {
	font-size: 1rem;
	color: #39729B;
	word-break: normal;
	text-align: left;
}

.ProWrap img {
	float: left;
	padding-right: 50px;
}

.ProWrap h4 {
	padding-bottom: 30px;
	position: relative;
	right: 23%;
	color: #39729B;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
}

/*Clients Page*/
.ClientPageWrap{
	padding-top: 90px;
}

.ClientPageWrap h1 {
	padding-top: 70px;
	color: #6EA4CA;
	font-size: 60px;
	letter-spacing: 0.4rem;
}

.ClientPara {
	color: #4A95CB;
	width: 690px;
	height: 65px;
	margin: 5rem 0 100px 39rem;
}

.Line1 img {
	margin-right: 100px;
	margin-bottom: 75px;
	position: relative;
	left: 70px;
}

.Line2 img {
	margin-right: 110px;
	position: relative;
	left: 87px;
}

.ClientsBox {
	height: 100px;
	width: 920px;
	background-color: #39729B;
	color: white;
	font-style: italic;
	position: relative;
	left: 27%;
	margin: 110px 0 20px 0;
}

.ClientsBox p{
	padding-top: 2rem;
	font-size: .9em;
	padding-left: 80px;
	padding-right: 80px;
}

.Sam {
	margin-bottom: 70px;
	margin-top: 50px;
	color: #39729B;
	font-size: 1em;
	padding-left: 2%;
}

.ArrowDiv:after {
    border-top: 20px solid #39729B;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    bottom: -85px;
    content: "";
    position: absolute;
    left: 52%;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

/*Footer for all pages*/
.b {
	color:white;
}
.FooterWrapper {
	width: 100%;
	height: 105px;
	background-color: #0C3C60;
}

.FooterWrapper img {
	margin: 0 5px 0 5px;
	display: inline-block;
}

.FooterWrapper p {
	display: inline-block;
	padding-right: 300px;
	color: white;
	padding-top: 50px;
}
