*{
	margin:0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

/*Header*/
.Header {
	position: fixed;
	background-color: #0C3C60;
	height: 90px;
	width: 100%;
	z-index: 100;
}

.title {
	font-size: 22px;
	letter-spacing: 0.06em;
	display: inline-block;
	margin-right: 5px;
	margin-top: 36px;
	float: left;
	margin-left: 450px;
}
.title:hover{
cursor: pointer;
}

.James {
	color: white;
	margin-right: 5px;
}

.Consulting {
	color: #6CB5C8;
}

.Unordered{
	list-style-type: none;
	color: white;
	margin-top: 22px;
	font-size: 13px;
}

.Unordered li {
	display: inline-block;
	padding: 20px;

}

.Unordered li:hover{
	color: #A4A6D4;
	cursor: pointer;
	transition: 0.1s;
}

/*Main/home*/
main {
	padding-top: 90px;
}

.ParWrapper {
	height: 690px;
	width: 100%;
	background-color: black;
	position: relative;
}

.Par {
	background-image: url("./Assets/homebg.png");
	height:690px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.BotPar {
	height: 140px;
	width: 100%;
	background-color: white;
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.6;
}

.Dev {
	z-index: 100;
	padding-top: 20px;
	font-size:20px;
	color: #0C3C60;
	position: relative;
	bottom: 6.7em;
}

.Ach {
	z-index: 100;
	padding-top: 20px;
	font-size:3.5rem;
	color: #0C3C60;
	position: relative;
	bottom: 2.3em;
	letter-spacing: 0.3rem;
}

/*Home/Services/proj/clie*/

.ColWrap {
	height: 490px;
	width: 100%;
	background-color: #FAFAFA;
	display: flex;
	justify-content: center;
}

.Block {
	height: 345px;
	width: 305px;
	background-color: #0C3C60;
	margin: 70px 40px 0 40px;
}

.Serv {
	color: #D1E0EB;
	padding-top: 35px;
	letter-spacing: 0.07rem;
}

.ImAPar {
	padding: 25px 25px 0 25px;
	color: white;
	letter-spacing: 0.02rem;
}

.MoreInfo {
	background-color: #6EA4CA;
	padding: 15px 35px 15px 35px;
	text-decoration: none;
	color: white;
	position: relative;
	top: 40px;
}

.MoreInfo:hover {
	transition: .2s;
	color: #20577D;
}

/*Home/About us*/